html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

* {
  box-sizing: border-box;
}

div:after {
  display: block;
  clear: both;
  content: "";
}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  font-family: sans-serif;
  text-align: center;
}
